section {
  background-color: var(--primary-bg);
  padding: 20px;

  &.form {
    margin: 0 auto;
    position: relative;
    width: 80vw;
    border-radius: var(--border-radius);
  }

  h2 {
    color: white;
    text-align: center;
  }
}

.responsive-grid {
  margin-bottom: 20px;
}

.type--container {
  display: grid;
  grid-template: 1fr / repeat(auto-fill, minmax(110px, 1fr));
  gap: 10px;
  margin-top: 10px;
  padding: 10px 0;
}

.game--container {
  flex-direction: column;
  position: relative;
  z-index: 100;

  h2 {
    margin-top: 15px;
    text-align: center;
    color: white;
  }
}
